 # Local/private config goes in the include
[include]
        path = ~/.gitconfig.local

[github]
  # https://github.com/blog/180-local-github-config
  user = diesire

[credential]
  # cache creds (git help credential-cache)
  helper = osxkeychain